.active {
  color: pink;
  font-weight: bold;
}

.inactive {
  color: gray;
  font-weight: normal;
}
.link {
  text-decoration: none;
}

.navMenu {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
